# Datasets
*.gz
mnist.pkl.gz*
notebooks/cifar-10-python.tar.gz
notebooks/cifar-10-batches-py/test_batch
notebooks/cifar-10-batches-py/readme.html
notebooks/cifar-10-batches-py/data_batch_5
notebooks/cifar-10-batches-py/data_batch_4
notebooks/cifar-10-batches-py/data_batch_3
notebooks/cifar-10-batches-py/data_batch_2
notebooks/cifar-10-batches-py/data_batch_1
notebooks/cifar-10-batches-py/batches.meta

# Augmented datasets
notebooks/new-cifar

# Output Training Stats
src/training-out.csv

# Mac Defaults
.DS_Store

# Jupyter Defaults
.ipynb_checkpoints
__pycache__
