# Datasets
*.gz
mnist.pkl.gz*
notebooks/cifar-10-python.tar.gz
notebooks/cifar-10-batches-py/*

# Augmented datasets
notebooks/new-cifar

# Output Training Stats
src/training-out.csv
*.log

# Mac Defaults
.DS_Store

# Jupyter Defaults
.ipynb_checkpoints
__pycache__

# Trained models (and other pickled objects)
*.pkl
